body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f6f9, #f4f4fa);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-box {
    background: #333;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 320px;
}

.avatar i {
    font-size: 40px;
    color: #ffffff;
}


form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(146, 140, 140, 0.3);
    color: rgb(251, 241, 241);
}

form input::placeholder {
    color: rgb(251, 248, 248);
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
}

.options a {
    color: white;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ffffff;
    color: #6b73ff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ddd;
}
